@font-face {
    font-family: "AvenirLight", Helvetica, sans-serif;
    src: url("../fonts/AvenirLight.woff") format('woff');
}

@font-face {
    font-family: "AvenirLight", Helvetica, sans-serif;
    src: url("../fonts/Avenir-LightOblique.woff") format('woff');
}

@font-face {
    font-family: "Avenir", Helvetica, sans-serif;
    src: url("../fonts/Avenir-Roman.woff") format('woff');
}

@font-face {
    font-family: "Avenir", Helvetica, sans-serif;
    src: url("../fonts/Avenir-Oblique.woff") format('woff');
}

@font-face {
    font-family: "Avenir Medium", Helvetica, sans-serif;
    src: url("../fonts/Avenir-Medium.woff") format('woff');
}

@font-face {
    font-family: "Avenir Medium", Helvetica, sans-serif;
    src: url("../fonts/Avenir-MediumOblique.woff") format('woff');
}

@font-face {
    font-family: "Avenir Heavy", Helvetica, sans-serif;
    src: url("../fonts/Avenir Heavy.woff") format('woff');
}

@font-face {
    font-family: "Avenir Heavy", Helvetica, sans-serif;
    src: url("../fonts/Avenir-Heavyblique.woff") format('woff');
}