// Fonts
$body-font: "Avenir", Helvetica, sans-serif;

// Color
$body-text-color: #303036;
$border-color: rgba(118, 118, 118, 0.5);
$blue: #39b2f8;
$dark-gray: #303036;
$near-black: #050401;
$near-white: #fffaff;
$orange: #fc5130;

// Buttons
$button-default-radius: 4px;
$button-height: 48px;
$button-height-lg: 50px;
$button-height-sm: 30px;
